.not_found{
    height:  calc(100vh - 230px);
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
    }
    .black_btn{
        margin: 0 auto;
        margin-top: 40px;
        width: 250px;
    }
}
h1{
    font-size: 120px;
    font-weight: 300;
    text-align: center;
}
.account {
    .catalog_row{
        padding-left: 40px;
    }
}
.acount_order{
.your_order_text{
    width: 100%;
}
.your_order_bottom{
    >div:not(:last-child){
        margin-right: 55px;
    }
}
.your_order_close{
    margin-top: 3px;
}
.your_order_title,.your_order_price{
    font-weight: 500;
}
}
.incr_dec input{
    padding-left: 15px;
}
.value-button{
    cursor: pointer;
}


// acc 4 
.order_history_item{
    display: block;
}
.your_order_delivery_details{
    background-color: #fafafa;
    padding: 30px;
    >div{
        display: flex;
        align-items:center;  
        margin-bottom: 25px;
        &:not(:last-child){
            font-weight: 600;
        }
        img{
            margin-right: 10px;
        }
    }
}
.your_order_history{
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
}
.your_order_his_btn{
    color: #006bd0;
    margin-bottom: 15px;
    text-decoration: underline;
}
.your_order_delivered{
    font-size: 1.2rem;
    color: #00ab00;
    font-weight: 500;
    img{
        margin-right: 10px;
    }
}
// .your_order_text{
//     >div{
//         display: flex;
//         flex-direction: column;
//         justify-content: space-between;
//     }
// }
.order_history_item>div{
    align-items: flex-start;
}
.hist_block{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.order_history_item{
    >
.your_order_text{
    >div{
        display: flex;
    }
}
.your_order_text {
    display: block;
}
}
.your_order_delivered{
    margin-bottom: 15px;
}
.your_order_his_btn{
    cursor: pointer;
}
.your_order_his_btn span:last-child,.your_order_delivery_details,.your_order_delivered{
    display: none;
}
.btn_change{
    &.your_order_his_btn span:first-child{
        display: none;
    }
    &.your_order_his_btn span:last-child{
        display: block;
    }
}
    .acount_title_h{
        font-size: 24px;
        margin-bottom: 40px;
    }                    

    // blog


    .blog_item{
        &_title{
            font-size: 24px;
        }
        &_date{
            margin-top: 15px;
            margin-bottom: 20px;
        }
        &_img{
            img{
                margin: 0 auto;
            }
        }
        margin-bottom: 100px;
        display: block;
    }
    h4{
        font-size: 30px;
        font-weight: normal;
        text-transform: uppercase;
    }
    .blog{
        .bread_crumbs{
            margin-bottom: 50px;
        }
        h4{
            margin-top: -5px;
        }
    }
    // text page
    .text_title{
        text-transform: uppercase;
    }
    .text_wrap{
        p{
            font-size: 18px;
            margin-bottom: 35px;
            line-height: 180%;
        }
    }
    // modals 
    .popups{
        padding-top: 230px;
        min-height: 100vh;
    }
    .basket_modal{
        .modal-dialog{
            max-width: 1000px;
            width: 90%;
        }
        .modal-content{
            padding: 20px 35px; 
            border-radius: 0;
            border: none;
        }
        .modal-header{
            border-bottom: none;
            margin-bottom: 20px;
        }
        .modal-title{
            font-size: 20px;
            font-weight: 400;
        }
    }
    .basket_footer_total{
        margin-top: -50px;
        background-color: #ededed;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 10%;
            font-size: 20px;
        
        span:last-child{
            font-weight: 500;
            margin-left: 15px;

        }
    }
    .basket_footer{
        padding: 1rem;
        .transparent_btn{
            width: 250px;
        }
        .black_btn{
            width: 220px;
        }
    }
    .forgot_password{
        p{
            text-align: center;
        }
    }
    .modal{
    .close{
        outline: none;
        span{
            font-weight: 300;
        }
    }
    .modal-header{
        border-bottom: none;
    }
}
.forgot_password{
    &_title{
        font-size: 24px;
        margin-bottom: 30px;
    }
   &_text{
       max-width: 400px;
       margin: 0 auto;
       margin-bottom: 25px;
   }
   .black_btn{
       display: block;
       margin: 0 auto;
       margin-top: 40px;
       margin-bottom: 20px;
   }
   .modal-body{
       padding: 40px;
   }
   .modal-dialog{
       max-width: 700px;
   }
}

.reg_modal{
    .forgot_password{
        &_title{
            margin-bottom: 20px;
            text-transform: uppercase;
        }
       &_text{
           a{
               color: red;
               text-decoration: underline;
           }
       }
    }
    .modal-body{
        padding: 10px;
    }
    .modal-dialog{
        max-width: 500px;
    }
}
.modal-content{
    border-radius: 0;
    border: none;
}
.feedback .pagination{
    margin-bottom: 50px;
        display: flex;
        justify-content: flex-end;
    .page-link{
        color: #000;
        border: none;
        background-color: transparent;
        border-radius: 0 !important;
    }
    .page-item.active{
        .page-link{
        background-color: #000;
        color: #fff;
        }
    }
}