.container-fluid{
    padding: 0 70px;
}
.header_main{
.black_btn{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
}
.header_filter span{
    text-transform: uppercase;
}
.header_social a {
    display: block;
    max-width: 20px;
}
main{
    padding-top: 205px;
}
header{
    position: fixed;
    width: 100vw;
    background-color: #fff;
    z-index: 122;
    transition: opacity 0.3s;
    .login {
        >a:hover{
            text-decoration: underline;
        }
    }
}
.header_op{
    opacity: 0.85;
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.1);
    &:hover{
        opacity: 1;
    }
}
.menu a {
    font-weight: 400;
}
.product_wrap{
    .product_btn{
        margin: 0;
    }
}
.product_price_sale{
    padding:3px 7px ;
    background-color: red;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.products_slide_wrap{
    padding: 0 10px;
}
.product_price{
    justify-content: space-between;
    margin: 10px 0; 
}
.product_name{
    height: auto !important;
    margin-bottom: 10px;
}
.product{
    border: 1px solid #cfcfcf;
}
.products_slide_wrap{
    &:nth-child(odd){
       .product{
            background-color: #cfcfcf;
       } 
    }
}
.product_like{
    position: absolute;
    top: 10px;
    right: 10px;
}
.product{
    justify-content: flex-end;
    &_colors{
        width: fit-content;
    }
}
.about_home_text{
    h3{
        text-align: left;
        margin-bottom: 20px;
    }
}

.footer_lists{
    ul:first-child{
        margin-right: 20px;
    }
}

.footer_bottom .black_btn{
    border-radius: 0 !important;
}
.product_like,.product_color_marks{
    transition: all 0.3s;
    &:hover{
        transform: scale(1.1);
        cursor: pointer;
    }
}
.product{
&_wrap{
    padding-top: 40px;
}
    transition: all 0.4s;
    &:hover{
        z-index: 2;
        transform: scale(1.04)
    }
}
.header_main .black_btn{
    transition: all 0.3s;
    &:hover{
        background-color: #000 !important;
        color: #fff !important;
    }
}
.footer_list a:hover,.header_filter a:hover,.menu a:hover ,.hedaer_lang a:hover{
    text-decoration: underline;
}

.header_social a,.like,.basket,.footer_social a  {
    transition: all 0.3s;
    &:hover{
        transform: scale(1.2);
    }
}
.product_color_marks{
    border: 1px solid #000;
}
.about_home_text_img{
    margin-top: 10px;
}
.footer_logo{
    margin-top: -40px;
}
.footer_sec{
    position: relative;
    border: none;
    padding-top: 30px;
    padding-bottom: 20px;
    &:after{
        @include after;
        left: 50%;
        top: 0;
        transform: translate(-50%,0%);
        width: calc(100% - 140px);
        height: 1px;
        background-color: #424242;
    }
}
.login{
    transform: translate(67px, 0);
}
.header_filter_second_menu{
    position: absolute;
    left: calc(100% - 15px) !important;
    top: 0 !important;
}
.header_filter ul li:hover ul{
    display: block !important;
}
.product_color_add{
    span:last-child{
        display: none ;
    }
}
.product_color_marks_remove{
    span:last-child{
        display: flex;
    }
    span:first-child{
        display: none;
    }

}
.product_color_marks:nth-child(n +3){
    display: none;
}
.product_color_marks_showed{
    display: flex !important;
}

//  catalog new style 


.catalog_row{
        .product{
            background-color: #ebebeb;
        } 
}
.catalog_big_title{
    font-weight: 300;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 30px;
}
.top_posion h3{
    margin-bottom: 0;
}
.catalog_sort{
    .jq-selectbox__select{
        border: none !important;
    }   

    .jq-selectbox__trigger-arrow{
        position: relative;
        right: -10px;
        top: 18px;
    &:after{
        @include after;
        border-bottom: 5px solid #000;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        top: -14px;
        left: -5px;
    }
    
}

}
.catalog_sort >.just_btwn{ 
    p{
        font-weight: 600;
    }
    >*{
    margin-right: 40px;
}
}
.catalog_big_title_mob{
    display: none;
}
.catalog_container{
    padding-top: 20px;
}
.about_home_text p{
    text-align: justify;
}
.bread_crumbs{
    margin-top: 10px;
}
.catalog_row{
    .col-md-9{
        padding-left: 70px;
    }
}
.prod_col{
    padding: 0 1px;
}
.product_img{
    position: static;
}
.product_colors{
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.product{
    padding: 0 !important;
    height: auto !important;
}
.sticky {
    position: fixed;
    z-index: 101;
    top: 120px;
  }
  .stop {
    position: relative;
    z-index: 101;
  }

  .catalog_sort{
      background-color: #fff;
      z-index: 2;
  }
