.input_wrap{
    label{
        margin-bottom: 7px;
    }
    input{
        width: 100%;
        height: 55px;
        border: 1px solid #a6a6a6;
        border-radius: 5px;
        padding-left: 10px;
    }
}
.required_star{
    color: red;
}
.oreder_page_title{
    margin-top: 50px;
}
.order_section_title{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 20px;
}
.order_user_info{
    .input_wrap{
        margin-top: 30px;
    }
}
.radio_ch{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #a6a6a6;
    position: relative;
    &:after{
        @include after;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000;
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
   
}
.radio_ch_wrap{
    position: relative;
    input:checked + .radio_ch:after{
    display: block;
    }
    display: flex;
    align-items: center;
    input{
        position: absolute;
        left: 0%;
        top: 0;
        z-index: 2;
        width: 20px;
        height: 20px;
    }
    label{
        margin-bottom: 0;
        margin-left: 10px;
    }
    margin-bottom: 25px;
}
.order_address{
    label{
        display: block;
    }
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select{
        height: 50px;
    }
    .jq-selectbox__trigger-arrow{
        top: 22px;
    }
    .jq-selectbox__select-text{
        height: 100%;
        line-height: 50px;
    }
    .input_wrap{
        margin-bottom: 25px;
    }
}