.input_wrap{
    label{
        margin-bottom: 7px;
    }
    input{
        width: 100%;
        height: 55px;
        border: 1px solid #a6a6a6;
        padding-left: 10px;
    }
}
.required_star{
    color: red;
}
.oreder_page_title{
    margin-top: 40px;
}
.order_section_title{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
}
.order_user_info{
    .input_wrap{
        margin-top: 30px;
    }
}
.radio_ch{
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #a6a6a6;
    position: relative;
    &:after{
        @include after;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background-color: #000;
        width: 60%;
        height: 60%;
        border-radius: 50%;
    }
   
}
.radio_ch_wrap{
    position: relative;
    input:checked + .radio_ch:after{
    display: block;
    }
    display: flex;
    align-items: center;
    input{
        position: absolute;
        left: 0%;
        top: 0;
        z-index: 2;
        width: 20px;
        height: 20px;
    }
    label{
        margin-bottom: 0;
        margin-left: 10px;
    }
    margin-bottom: 25px;
}
.order_address{
    label{
        display: block;
    }
    .jq-selectbox{
        width: 100%;
    }
    .jq-selectbox__select{
        height: 50px;
    }
    .jq-selectbox__trigger-arrow{
        top: 22px;
    }
    .jq-selectbox__select-text{
        height: 100%;
        line-height: 50px;
    }
    .input_wrap{
        margin-bottom: 25px;
    }
}
// your_order

.your_order_wrap{
    background-color: #fafbfb;
    padding: 25px 35px 50px 35px ;
}
.your_order{
    display: flex;
}
.your_order_text{
    font-size: 16px;
    margin-top: 5px;
}
.your_order_title{
    margin-bottom: 10px;
}
.your_order_dscr{
    li:after{
        @include after;
        left: 0;
        top: 0%;
        content: '-'
    }
    li{
        position: relative;
        padding-left: 8px;
        margin-bottom: 5px;
    }
}
.your_order_img{
    margin-right: 25px;
    position: relative;
    overflow: hidden;
    max-width: 85px;
    background-color: #fff;
}
.your_order_bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// counter

.incr_dec{
    height: 45px;
    border: 1px solid #bbbbbb;

    input{
        height: 100%;
        width: 60px;
        border-left: 1px solid #bbbbbb;
        border-right: 1px solid #bbbbbb;
        text-align: center;
    }
    div{
        width: 45px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.your_order_bottom{
    margin-top: 25px;
}
.your_order_wrap {
    .order_section_title{
        margin-top: 0;
    }
}
.your_order_price{
    font-size: 20px;
    span:last-child{
        font-size: 18px;
    }
}
.your_order{
    padding-bottom: 30px;
    border-bottom: 1px solid #b4b5b5;
    margin-bottom: 50px;
}
.your_order_total_price,.your_order_total_delivery{
    text-align: right;
    span:last-child{
        font-weight: 600;
        margin-left: 15px;
    }
}
.your_order_total_price{
    margin-bottom: 20px;
}
.input_wrap{
    textarea{
        border: 1px solid #a6a6a6;
        resize: none;
        width: 100%;
        height: 180px;
    }
}
.comment_wrap{
    width: 100%;
    margin-top: 55px;
}
.confirm_wrap{
    font-weight: 400;
    display: flex;
    justify-content: flex-end;
}
.black_btn_submit{
    margin-right: 0;
    margin-left: auto;
    margin-top: 20px;
}
.order_form{
    padding-bottom: 90px;
}